body{
    background-color: #FFE194;
}

.charts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.charts div{
    flex: 50%;
}

h1{
    text-align: center;
}

.shadow-lg{
background-color: #D0F5BE;
}

.dashback{
    background-color: #FFE194;
}